SERVER_URL=https://games.com
DB_URL=mongodb://localhost:27017/games
SERVER_PORT=3000

ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345678
ADMIN_EMAIL=admin@gmail.com

BACKUP_EMAIL=bestboyvn1987@gmail.com

AWS_ACCESS_KEY=xxx
AWS_ACCESS_SECRET=xxx
S3_REGION=ap-southeast-1
S3_BUCKET=xxx
MAILGUN_URL=xxx

MAILGUN_API_KEY=xxx
SSO_SECRET=xxx
GOOGLE_CLIENT_ID=xxx

ADMIN_PKEY=0x...

ETHERSCAN_API_KEY=xxx

REQUEST_INTERVAL=5000
