$main_width: 1280px;

$gap_0: 8px;
$gap_1: 16px;
$gap_2: 24px;
$gap_3: 48px;
$gap_4: 64px;
$gap_5: 96px;

$header_height: 124px;

$mobile-width: 768px;
$lg-width: 992px;
$bg_color: radial-gradient(2303.24px at 50% 1.08%, #2B3047 0%, #0F0F23 100%);
$color_red: #E74453;
$color_gray: #787E9E;
